<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name = "Codentia.Common.Logging">
      <section name = "TargetMapping" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
    <section name="databaseConnections" type="Codentia.Common.Data.Configuration.DbConnectionConfiguration,Codentia.Common.Data"/>
  </configSections>
  <appSettings>
    <add key="ReportSubFolder" value="rdl"/>
  </appSettings>
  <databaseConnections>
    <databases>
      <add name="reporting_sql">
        <sources>
          <add runat="MIDEV01" server="MIDEV01" database="CE_Reporting_Test" user="adminuser" password="E67F2501-00C6-4AD4-8079-00216831AECC" />
          <add runat="CEDEV1002" server="CEDEV1002" instance="DEV2012" database="CE_Reporting_Test" user="adminuser" password="8AC7025B-3AE6-455B-8171-92ACC0028621" />
          <add runat="MIDEV04" server="MIDEV04" database="CE_Reporting_Test" user="adminuser" password="0AF33AF9-87EE-49E4-8F7D-564F796F9EC5" />
          <add runat="SRV02" server="SRV02" instance="BUILD" database="CE_Reporting_Test" user="adminuser" password="Bu1ld" />
          <add runat="SRV03" server="SRV03" instance="PROD" database="CE_Reporting_Test" user="adminuser" password="Pr0d" />               
        </sources>
      </add>
    </databases>
  </databaseConnections>
  <system.net>
    <mailSettings>
      <smtp from="Common.Reporting.Test@code.je"/>
      <!-- add mail server credentials here or in machine.config-->        
    </mailSettings>
  </system.net>
  <Codentia.Common.Logging>
    <TargetMapping>
      <add key="UrlRequest" value="Console" />
      <add key="Information" value="Console" />
      <add key="NonFatalError" value="Console" />
      <add key="FatalError" value="Console" />
    </TargetMapping>
  </Codentia.Common.Logging>
</configuration>
