<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codentia.Common.Data.dll" version="4.0.0-dev-20160216094829" targetFramework="net45" />
  <package id="Codentia.Common.Helper.dll" version="2.0.0-dev-20160216102655" targetFramework="net45" />
  <package id="Codentia.Common.Logging.dll" version="3.0.0-dev-20160216095044" targetFramework="net45" />
  <package id="Codentia.Common.Net.dll" version="2.0.0-dev-20160216103103" targetFramework="net45" />
  <package id="Codentia.Common.Types.dll" version="2.0.0-dev-20160216094650" targetFramework="net45" />
  <package id="Codentia.Common.WebControls.dll" version="3.0.0-dev-20160216103231" targetFramework="net45" />
  <package id="Codentia.Test.dll" version="2.0.0-dev-20160216094935" targetFramework="net45" />
  <package id="MicrosoftReportViewerWebForms_v10" version="1.0.0" targetFramework="net45" />
  <package id="NUnit" version="2.6.4" allowedVersions="[2.6.4]" targetFramework="net45" />
  <package id="ReportViewer.Common.10" version="1.0.0" targetFramework="net45" />
</packages>